In [1]:
# import of libraries
from sklearn import tree
from sklearn.model_selection import train_test_split, GridSearchCV
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# read train data
titanic_data = pd.read_csv(r'datasets\train.csv')
titanic_data.head()
# read test data
titanic_data_test = pd.read_csv(r'datasets\test.csv')
titanic_data_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
# chech missed values
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
# drop some useless data, X is an input parameters
X = titanic_data.drop(['PassengerId', 'Survived', 'Name', 'Ticket', 'Cabin'], axis=1)
X_final_test = titanic_data_test.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)
# replace categorial variables by numbers
X = pd.get_dummies(X)
X__final_test = pd.get_dummies(X_final_test)
# fill missed age values by median
X = X.fillna({'Age' : X.Age.median()})
X_final_test = X_final_test.fillna({'Age' : X_final_test.Age.median()})
X.head()

NameError: name 'X_test' is not defined

In [ ]:
# y is an output
y = titanic_data['Survived']
y.head()

In [ ]:
# classifier
clf = tree.DecisionTreeClassifier()
# search ob best parameters
parameters = {'max_depth':range(1, 11), 'min_samples_split':range(2, 11), 'min_samples_leaf':range(1, 11),
             'criterion':['entropy', 'gini']}
search = GridSearchCV(clf, parameters, cv=5)
search.fit(X, y)
best_clf = search.best_estimator_